In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
from sklearn.preprocessing import LabelEncoder
import pickle

In [2]:
df = pd.read_csv("C:/Users/jerry/Desktop/IBM-PROJECT/Data/autos.csv", header=0 , sep=',' ,encoding='Latin1',low_memory=False)
df.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,24-03-2016 11.52,Golf_3_1.6,privat,Angebot,480.0,test,NaN,1993.0,manuell,0.0,golf,150000,0.0,benzin,volkswagen,NaN,24-03-2016 0.00,0.0,70435.0,07-04-2016 3.16
1,24-03-2016 10.58,A5_Sportback_2.7_Tdi,privat,Angebot,18300.0,test,coupe,2011.0,manuell,190.0,NaN,125000,5.0,diesel,audi,ja,24-03-2016 0.00,0.0,66954.0,07-04-2016 1.46
2,14-03-2016 12.52,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800.0,test,suv,2004.0,automatik,163.0,grand,125000,8.0,diesel,jeep,NaN,14-03-2016 0.00,0.0,90480.0,05-04-2016 12.47
3,17-03-2016 16.54,GOLF_4_1_4__3TÜRER,privat,Angebot,1500.0,test,kleinwagen,2001.0,manuell,75.0,golf,150000,6.0,benzin,volkswagen,nein,17-03-2016 0.00,0.0,91074.0,17-03-2016 17.40
4,31-03-2016 17.25,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600.0,test,kleinwagen,2008.0,manuell,69.0,fabia,90000,7.0,diesel,skoda,nein,31-03-2016 0.00,0.0,60437.0,06-04-2016 10.17

In [3]:
print(df.seller.value_counts())
df[df.seller !='gewerblich']
df=df.drop('seller',axis=1)

print(df.offerType.value_counts())
df[df.offerType !='Gesuch']
df=df.drop('offerType',axis=1)

privat        371534
gewerblich         3
golf               1
Name: seller, dtype: int64
Angebot    371525
Gesuch         12
150000          1
Name: offerType, dtype: int64

In [4]:
print(df.shape)
df=df[(df.powerPS>50) & (df.powerPS<900)]
print(df.shape)
df=df[(df.yearOfRegistration>=1950)&(df.yearOfRegistration<2022)]
print(df.shape)

(371539, 18)
(319717, 18)
(319649, 18)

In [5]:
df.drop(['name','abtest','dateCrawled','nrOfPictures','lastSeen','postalCode','dateCreated'], axis='columns',inplace=True)

In [6]:
new_df=df.copy()
new_df=new_df.drop_duplicates(['price','vehicleType','yearOfRegistration','gearbox','powerPS','model','kilometer','monthOfRegistration','fuelType','notRepairedDamage'])

In [7]:
new_df.gearbox.replace(('manuell','automatik'),('manual','automatic'),inplace=True)
new_df.fuelType.replace(('benzin','andere','elektro'),('petrol','others','electric'),inplace=True)
new_df.vehicleType.replace(('kleinwagen','cabrio','kombi','andere'),('samll car','convertible','combination','others'),inplace=True)
new_df.notRepairedDamage.replace(('ja','nein'),('Yes','No'),inplace=True)

In [8]:
new_df=new_df[(new_df.price>=100)&(new_df.price<=150000)]

new_df['notRepairedDamage'].fillna(value='not-declared',inplace=True)
new_df['fuelType'].fillna(value='not-declared',inplace=True)
new_df['gearbox'].fillna(value='not-declared',inplace=True)
new_df['vehicleType'].fillna(value='not-declared',inplace=True)
new_df['model'].fillna(value='not-declared',inplace=True)

In [9]:
new_df.to_csv("autos_preprocessed.csv")

In [10]:
print(new_df)

          price  vehicleType  yearOfRegistration    gearbox  powerPS  \
1       18300.0        coupe              2011.0     manual    190.0
2        9800.0          suv              2004.0  automatic    163.0
3        1500.0    samll car              2001.0     manual     75.0
4        3600.0    samll car              2008.0     manual     69.0
5         650.0    limousine              1995.0     manual    102.0
...         ...          ...                 ...        ...      ...
371531   3200.0    limousine              2004.0     manual    225.0
371535   1199.0  convertible              2000.0  automatic    101.0
371536   9200.0          bus              1996.0     manual    102.0
371537   3400.0  combination              2002.0     manual    100.0
371538  28990.0    limousine              2013.0     manual    320.0

               model kilometer  monthOfRegistration fuelType       brand  \
1       not-declared    125000                  5.0   diesel        audi
2              grand    125000                  8.0   diesel        jeep
3               golf    150000                  6.0   petrol  volkswagen
4              fabia     90000                  7.0   diesel       skoda
5                3er    150000                 10.0   petrol         bmw
...              ...       ...                  ...      ...         ...
371531          leon    150000                  5.0   petrol        seat
371535        fortwo    125000                  3.0   petrol       smart
371536   transporter    150000                  3.0   diesel  volkswagen
371537          golf    150000                  6.0   diesel  volkswagen
371538       m_reihe     50000                  8.0   petrol         bmw

       notRepairedDamage
1                    Yes
2           not-declared
3                     No
4                     No
5                    Yes
...                  ...
371531               Yes
371535                No
371536                No
371537      not-declared
371538                No

[288033 rows x 11 columns]

In [11]:
labels=['gearbox','notRepairedDamage','model','brand','fuelType','vehicleType']

mapper={}
for i in labels:
    mapper[i]=LabelEncoder()
    mapper[i].fit(new_df[i])
    tr=mapper[i].transform(new_df[i])
    np.save(str('classes'+i+'.npy'),mapper[i].classes_)
    print(i,":",mapper[i])
    new_df.loc[:, i+ '_labels']=pd.Series(tr,index=new_df.index)

labeled = new_df[['price','yearOfRegistration','powerPS','kilometer','monthOfRegistration']+[x+"_labels" for x in labels]]
print(labeled.columns)

gearbox : LabelEncoder()
notRepairedDamage : LabelEncoder()
model : LabelEncoder()
brand : LabelEncoder()
fuelType : LabelEncoder()
vehicleType : LabelEncoder()
Index(['price', 'yearOfRegistration', 'powerPS', 'kilometer',
       'monthOfRegistration', 'gearbox_labels', 'notRepairedDamage_labels',
       'model_labels', 'brand_labels', 'fuelType_labels',
       'vehicleType_labels'],
      dtype='object')

In [12]:
Y=labeled.iloc[:,0].values
X=labeled.iloc[:,1:].values

Y=Y.reshape(-1,1)

In [13]:
from sklearn.model_selection import cross_val_score,train_test_split
X_train , X_test, Y_train , Y_test = train_test_split(X,Y,test_size=0.3,random_state=3)

In [17]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score
regressor = RandomForestRegressor(n_estimators = 1000,max_depth = 10,random_state = 34)

regressor.fit(X_train, np.ravel(Y_train,order='C'))

RandomForestRegressor(max_depth=10, n_estimators=1000, random_state=34)

In [18]:
y_pred = regressor.predict(X_test)
print(r2_score(Y_test,y_pred))

0.8310350387286918

In [19]:
filename='resale_model.sav'
pickle.dump(regressor,open(filename,'wb'))